In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('engage-hackathon-2025/year=2024/month=11/day=16/hour=12/1225667186084f958614500e99a47e92.snappy.parquet')

In [3]:
df

,df,tisb,icao24,bds,tc,NUCp,groundspeed,track,parity,lat_cpr,...,autopilot,vnav_mode,alt_hold,approach_mode,lnav_mode,bds21_bds,bds21_registration,bds17_bds43,bds17_bds55,bds17_bds56
0,17,None,4d22b7,05,11.0,7.0,NaN,NaN,even,113390.0,...,None,None,None,None,None,None,None,None,None,None
1,20,None,4066b9,None,NaN,NaN,NaN,NaN,None,NaN,...,None,None,None,None,None,None,None,None,None,None
2,20,None,347307,None,NaN,NaN,NaN,NaN,None,NaN,...,None,None,None,None,None,None,None,None,None,None
3,20,None,34510a,None,NaN,NaN,NaN,NaN,None,NaN,...,None,None,None,None,None,None,None,None,None,None
4,17,None,34448d,05,11.0,7.0,NaN,NaN,odd,85142.0,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1524775,18,ADSB_ES_NT,3441d3,NoPosition,NaN,NaN,NaN,NaN,None,NaN,...,None,None,None,None,None,None,None,None,None,None
1524776,21,None,4aca13,None,NaN,NaN,NaN,NaN,None,NaN,...,None,None,None,None,None,None,None,None,None,None
1524777,17,None,4aca13,05,11.0,7.0,NaN,NaN,odd,69258.0,...,None,None,None,None,None,None,None,None,None,None
1524778,21,None,4ac9f8,None,NaN,NaN,NaN,NaN,None,NaN,...,None,None,None,None,None,None,None,None,None,None
1524779,21,None,0200f8,None,NaN,NaN,NaN,NaN,None,NaN,...,None,None,None,None,None,None,None,None,None,None

In [8]:
df_grouped = df.groupby('icao24')
df_grouped['icao24'].count()

icao24
01010a     1175
01022e     4409
010236     3472
01024c     5179
02007d     2858
          ...
e48ba8     3277
e8027a     9632
e80447    12005
e80471     2646
e94c89     3150
Name: icao24, Length: 363, dtype: int64